*{
    box-sizing: border-box;
    background: #e9e76e;
    margin: 0 0 10px 0;
}

h1 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    font-family: "Beth Ellen", Garamond, sans-serif;
    background-color: #7ed67b;
    text-decoration: underline;
}

h2,
h4 {
    background-color: #8957b8 ;
}

.ingredients *{
    background-color: #cea7f3;
}

.ingredients {
    border: dotted 5px green;
    display: flex;
    background-color: #cea7f3;
}

.recipes li {
    list-style: none;
    display: inline-flex;
    gap: 10px;
}

.recipes *{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    padding: 5px;
    background-color: aqua;
    border-radius: 10px;
    border-color: black;
    font-weight: bold;
    font-size: 20px;
    border: solid 2px;
}

a:hover{
    background-color: #2a4f86;
}

a:active{
    background-color: aqua;
    color: black;
}